:root{
    --gray : rgb(34, 68, 64);
    --blue : rgb(0, 122, 253); 
    --green: rgb(6, 215, 108);
    --white: rgb(253, 251, 252);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    height: 100vh;
    background-color: var(--gray);
}

.value{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: var(--white);
    font-size: 50px;
}

.tableVal{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.temperatureHolder, .humidityHolder{

    width: 50vh;
}



td{
    height: 15vh;
    
}

